<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="d-flex">
            <a class="nav-link" [routerLink]="['/contador']" routerLinkActive="active">Contador</a>
            <a class="nav-link" [routerLink]="['/imc']" routerLinkActive="active">Calcular IMC</a>
            <a class="nav-link" [routerLink]="['/property']" routerLinkActive="active">Property Binding</a>
            <a class="nav-link" [routerLink]="['/two-way']" routerLinkActive="active">Two Way Binding</a>
            <a class="nav-link" [routerLink]="['/pipes']" routerLinkActive="active">Pipes</a>
            <a class="nav-link" [routerLink]="['/switch']" routerLinkActive="active">Switch</a>
            <a class="nav-link" [routerLink]="['/style']" routerLinkActive="active">Style</a>
            <a class="nav-link" [routerLink]="['/model']" routerLinkActive="active">Model</a>
            <a class="nav-link" [routerLink]="['/if']" routerLinkActive="active">If</a>
            <a class="nav-link" [routerLink]="['/for']" routerLinkActive="active">For</a>
            <a class="nav-link" [routerLink]="['/class']" routerLinkActive="active">Class</a>
            <a class="nav-link" [routerLink]="['/galeria']" routerLinkActive="active">Galeria</a>
            <a class="nav-link" [routerLink]="['/pai-filho']" routerLinkActive="active">Pai-Filho</a>
            <a class="nav-link" [routerLink]="['/filho-pai']" routerLinkActive="active">Filho-Pai</a>
        </div>
    </div>
</nav>
